.messages{
  text-align: center;
  width: 50%;
  height: 450px;
  padding-top: 200px;
}

.result{
  font-size: 50px;
}

.error{
  font-size: 40px;
}

.button{

  background-color: purple; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}