.game{
  width: 50%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
 
.square{
  width: 33.333%;
  height: 150px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 50px;
  text-align: center;
  padding-top: 35px ;
}

